{% extends 'base.html' %}

{% block title %}
    Список вакансий
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>{{ vacanciescategory }}</h2>
        {% for vacancy in vacanciescategory.vacancies %}
            <div class="card mt-2">
                <div class="card-body">
                    <h3 class="card-title">{{ vacancy.title }}</h3>
                    <h5 class="card-title bold">от {{ vacancy.salary }} руб.</h5>
                    <pre style="font-family: sans-serif">{{ vacancy.description }}</pre>
                </div>
                {% if request.user.is_authenticated %}
                    <div class="card-footer">
                        <a class="btn btn-secondary float-end"
                           href="{% url 'create_summary' vacancy.id %}">Откликнуться</a>
                    </div>
                {% else %}
                    <a class="py-2 d-none d-md-inline-block btn btn-secondary"
                       href="{% url 'register' %}">Регистрация</a>
                {% endif %}
            </div>
        {% endfor %}

    </div>
{% endblock %}